__pycache__/
augmented/images/
augmented/labels/
data/images/
data/labels/
data/100examples.csv
data/test.csv 
Unet/train/
Unet/train_masks/
Unet/train_val/
Unet/train_masks_val/
project/dataset/
project/__pycache__/
project/segmentation/runs/
project/segmentation/saved_images_epoch_1/
project/segmentation/saved_images_epoch_2/
project/segmentation/saved_images_epoch_3/
project/segmentation/saved_images_epoch_4/


# Log files
*.log

# Temporary files
*.tmp
*.cache

# Data and models
data/
weights/

# Checkpoints and outputs
checkpoints/
output/

# Configuration files
config.yaml

# IDE and editor specific files
.vscode/
.idea/
