fastapi==0.95.0
uvicorn[standard]==0.22.0
onnxruntime==1.15.0
Pillow==10.0.0
numpy==1.24.2
torch==2.0.1+cu117
torchvision==0.15.2+cu117
scikit-learn==1.2.2
opencv-python==4.8.0.76
tqdm==4.65.0
matplotlib==3.5.0
